:root {

  --clr1: #181531;

  --clr1bg:#181531;
  --clr1bg-light: #FFFFFF;

  --clr2bg:#4b1aa0;

  --off-white: #F4F3F9;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 


