button {
    cursor: pointer;
    background-color: var(--clr2bg);
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 1.25em;   
}

button:hover {
    background-color: var(--gray2);
    color: rgb(241, 9, 241);
    transition: .3s;
}
input:focus {
    background-color: var(--clr1bg-light);
    transition: background-color 1s;
}